/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

.align {
    text-align: center;
}
/* Makes the sample page fill the window if height was set to 100%. */
html, body {
    height: 75%;
    width: 75%;
    margin: 0;
    padding: 0;
}